.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.forecast {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 25px;
}
.forecast table {
  border: #61dafb;
}

.top-align {
  vertical-align: top;
}

.form {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.form p,input,button {
  margin-left: 25px;
}

button#submit {
  text-align: center;
}

input#address {
  width: 250px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
